body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron{
    background-image: url("../images/737973.jpg");
    color:white;

}
.abt-btn{
    background-color:#222;
    color:white;
    font-size:16px;
    padding:1.2%;
}
.logo {
      color: #529708;
      font-size: 300px;
  }
.logo-small {
      color: #529708;
      font-size: 50px;
  }
.container-fluid {
      padding: 60px 50px;
      margin-bottom: 20px;
      /*margin-top: 20px;*/
  }




