@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agriculture Department</h1>
    <h2>North Central Province</h2>
    <p>No diet can do what healthy foods can do for you!</p><br/>
    <p><a href="#about" class="btn abt-btn">About Us</a></p>
</div>
<!-- Container (About Section) -->
<div class="row" id="about">
    <div class="col-sm-8">
        <h2>ABOUT AGRICULTURE</h2>
        <p>
            Sri Lanka, affectionately called as the pearl of the Indian Ocean, is a tear drop shaped island of 65,000sq KM surrounded by sparkling blue green sea. Moderate climate throughout the year, fertile soil, freely available ground water with fairly distributed river net work in most parts and two monsoons which bring rains for the two main cultivation seasons are the key ecological factors of the country.
            With these ideal conditions,  agriculture sector has always performed as a major economic force in Sri Lanka, making a significant contribution to the national economy, food security and employment. At the same time agriculture is the livelihood of the majority in the rural sector and plays a key role in alleviating rural poverty. This has been well recognized from the time of independence and there has always been a cabinet portfolio set aside for the agriculture sector.
            Ministry of  Agriculture  has realized this and is committed to make its utmost contribution to achieve its mission of bringing about prosperity through providing necessary guidance and co-ordination activities for sustainable development in Agriculture.
        </p>
        <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo"></span>
    </div>
</div>
<!-- Container (Values Section) -->
<div class="container-fluid bg-grey" style="background-color:#f6f6f6">
    <div class="row" id="values">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2><br>
            <h4><strong>MISSION:</strong> Advancing food security and transformation of the sector through innovative, inclusive and sustainable policies, legislation and programmes.</h4><br>
            <p>
                <strong>VISION:</strong>United and transformed agriculture, forestry and fisheries sector that ensures food security for all and economic prosperity.
            </p>
            <strong>Drive:</strong> driven to deliver excellent service through leadership and professionalism<br/>
            <strong>Attitude:</strong> being an ambitious, passionate, reliable and dedicated workforce<br/>
            <strong>Fairness:</strong> acting with objectivity, empathy, integrity and transparency<br/>
            <strong>Focus:</strong> focusing on people, economic and rural development<br/>
        </div>
    </div>
</div>
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>
<!-- Container (Statistics Section) -->
<div class="container-fluid bg-grey" style="background-color:#f6f6f6">
    <div class="row" id="values">        
        <div class="col-sm-8">
            <h2>Statistics</h2><br>
            Statistics are published on the web and in print publications.  Publishers include the federal government, state governments, foreign governments, international agencies, private entities, and membership organizations.  Recording of statistics is sometimes mandated by law, but in other instances, it is entirely voluntary.  Even required government statistics often change over the years.  Statistics are not always published and raw data and data sets are not always accessible.  Finally, there may be hefty fees for some statistics!<br/>
            The best strategy for finding statistics is to identify the stakeholders (governments, companies, organizations) and do a thorough search of their publications and Internet pages.  The resources below are good places to start you statistical research. 
            <br/><br/><button class="btn btn-default btn-lg">See More >></button>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo slideanim"></span>
        </div>
    </div>
</div>