@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Agriculture Department</h1>
    <h2>North Central Province</h2>
    <p>No diet can do what healthy foods can do for you!</p><br/>
    <p><a href="#about" class="btn abt-btn">About Us</a></p>
</div>
<div>
    <h2>ABOUT AGRICULTURE</h2>
    <p>Sri Lanka, affectionately called as the pearl of the Indian Ocean, is a tear drop shaped island of 65,000sq KM surrounded by sparkling blue green sea. Moderate climate throughout the year, fertile soil, freely available ground water with fairly distributed river net work in most parts and two monsoons which bring rains for the two main cultivation seasons are the key ecological factors of the country.
With these ideal conditions,  agriculture sector has always performed as a major economic force in Sri Lanka, making a significant contribution to the national economy, food security and employment. At the same time agriculture is the livelihood of the majority in the rural sector and plays a key role in alleviating rural poverty. This has been well recognized from the time of independence and there has always been a cabinet portfolio set aside for the agriculture sector.
Ministry of  Agriculture  has realized this and is committed to make its utmost contribution to achieve its mission of bringing about prosperity through providing necessary guidance and co-ordination activities for sustainable development in Agriculture.</p>
</div>
<div>

</div>
@*
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@