
@{
    ViewBag.Title = "Sent";
}

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<span class="glyphicon glyphicon-thumbs-up" style="font-size:20px;"><h3>Your message has been sent</h3></span>

