@{
    ViewBag.Title = "Sent";
}

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div id="contact" class="container-fluid bg-grey" style="background-color:#f6f6f6; width:100%; height:100%;" >
    
    <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> North Central Province, Sri Lanka</p>
        <p><span class="glyphicon glyphicon-phone"></span> +9425 2222189</p>
        <p><span class="glyphicon glyphicon-envelope"></span> npagri@gmail.com</p>
    </div>
    <div class="col-sm-7">
        <h1>Message Sent</h1>
        <span class="glyphicon glyphicon-ok" style="font-size:100px; color: #529708;"></span>
    </div>
</div>